.container {
width: 710px;
}
body {
background:#ee6505 url('bg-all.gif') repeat;
color:#000;
}
header {
padding-top: 20px;
}
header img {
padding: 2em;
background: #e1e1e1;
}
section {
margin-top: 1em;
font-size: 120%;
padding: 20px;
background: #e1e1e1;
}
section h1 {
font-size: 200%;
}
/* Links */
a {
color: #ee6505;
text-decoration: none;
}
a:hover {
color: #069;
text-decoration: underline;
}
a:visited {
color: #ee6505;
}
/* Navigation */

nav {
float: right;
background-color: #e1e1e1;
padding: 10px 10px 10px 0px;
white-space: nowrap;
}
nav ul {
margin: 0;
padding: 0;
}
nav ul li {
list-style-type: none;
display: inline-block;
padding: 0.2em 0;
}
nav ul li a {
padding: 0 5px;
font-weight: bold;
}
nav ul li a:visited {
color: #ee6505;
}
nav ul li a:hover {
text-decoration: underline;
}
/* Sign up button */
a.signup_button {
margin-left: auto;
margin-right: auto;
display: block;
text-align: center;
width: 190px;
color: #fff;
background: #de5400;
font-size: 150%;
font-weight: bold;
padding: 10px;
}
a.button {

display: block;
width: 50px;
height: 12px;
color: #fff;
background: #de5400;
font-size: 80%;
font-weight: bold;
padding: 8px;
}

input[type=submit]{
  
}

input[type=text]{
  margin-top:4px;
}

input[type=radio]{
  margin-top:4px;
}

select{
	margin-top:4px;
}

.menu-table{
	margin-bottom:0px;
	width:auto;
	margin-left:10px;
}

.menu-table td{
	border-right:solid 1px #000;
}

.menu-lastitem{
	border:none !important;
}

.config-selected{
	font-weight:bold;
}

.config-cont{
	background:#f1f1f1;
	padding:10px;
	margin-left:20px;
	clear:both;
	display:block;
	width:350px;
	height:52px;
	-moz-border-radius:
	10px;
	-webkit-border-radius: 10px;
	border-radius:
	10px;
}



.config-intercont{
    display:block;
   
}

.config-form{
    float:left;
    height:52px;
    margin-left:10px;
    vertical-align:bottom;
}

.table-header td{
	font-weight:bold;
	font-size:1.2em;
	border-bottom:solid 2px #b14300;
}

/* Round corners */
.round {
border:solid 1px #b04200;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
-moz-box-shadow: -3px 4px 10px #572100;
-webkit-box-shadow: -3px 4px 10px #572100;
box-shadow: -3px 4px 10px #572100;
}
footer {
float:right;
text-align: right;
margin-top: 10px;
width: 160px;
margin-left:0px;
}
footer nav {
float: none;
}
/* User show page */
table.profile {
width: 100%;
margin-bottom: 0;
}
td.main {
width: 60%;
padding: 1em;
}
td.sidebar {
width: 40%;
padding: 55px 30px;
vertical-align: top;
background: #f1f1f1;
}
.profile img.gravatar {
border: 1px solid #999;
margin-bottom: -15px;
}
div.field, div.actions {
margin-bottom: 10px;
}
.field_with_errors {
margin-top: 10px;
padding: 2px;
background-color: red;
display: table;
}
.field_with_errors label {
color: #fff;
}
#error_explanation {
width: 400px;
border: 2px solid red;
padding: 7px;
padding-bottom: 12px;
margin-bottom: 20px;
background-color: #f0f0f0;
}
#error_explanation h2 {
text-align: left;
font-weight: bold;
padding: 5px 5px 5px 15px;
font-size: 12px;
margin: -7px;
background-color: #c00;
color: #fff;
}
#error_explanation p {
color: #333;
margin-bottom: 0;
padding: 5px;
}
#error_explanation ul li {
font-size: 12px;
list-style: square;
}
ul.users {
margin-top: 1em;
}
.users li {
list-style: none;
}
table.status {
}