<h1>HLDSWeb Serwer Konfiguracja</h1>

<% if hostname.nil? %>
Serwer offline!
  <% else %> 

<table>
  <tr> 
    <td> <%= link_to "Ustawienia gry",  gameconsole_path %></td>
    <td> <%= link_to "Ustawienia rundy",  roundconsole_path %> </td>
    <td> <%= link_to "Ustawienia gracza",  userconsole_path %> </td>
  </tr> 
</table>



<% end %>