<% if @user.errors.any? %>
<div id="error_explanation">

<h2>
Błędnie wypełnionych pól: <%= object.errors.count %>
</h2>

<p>Wystąpiły problemy z następującymi polami:</p>
<ul>
<% object.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>

</ul>
</div>
<% end %>
