<h1>HLDSWeb Serwer Konfigurator</h1>
<p>
Witaj!</br>
Ten serwis umożliwi Ci podgląd statystyk graczy na moim serwerze gry Counter Strike!</br>
Zarejestruj się i dołącz do elity graczy walczących o tytuł najlepszego!

</p>
<%= link_to "Załóż konto", signup_path, :class => "signup_button round" %>
